<p>register works!</p>

<div class="registro">
    <div class="row h-100">
        <div class="col">
            <div class="formulario">
                <h3 class="titulo">REGISTRO DE NUEVA CUENTA</h3>
                <p class="subtit">Ingresa todos los datos para registrarte</p>

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="correo">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input type="name" class="form-control" id="inputName" placeholder="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="inputUser" class="form-label">Nombre de usuario</label>
                        <input type="username" class="form-control" id="inputUser" placeholder="nombre de usuario">
                    </div>
                    <div class="col-md-6">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="name" class="form-control" id="inputApellido" placeholder="Apellido">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="contraseña">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCel" class="form-label">Número celular</label>
                        <input type="number" class="form-control" id="inputCel" placeholder="teléfono">
                    </div>
                    <div class="col-12">
                      <label for="inputConfPassword" class="form-label">Confirmar Contraseña</label>
                      <input type="password" class="form-control" id="inputConfPassword" placeholder="confirmar contraseña">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-dark">Registrarse</button>
                    </div>
                  </form>

                <br>
                <p class="subtit">¿Ya tienes cuenta?  <a clas="link" href="login">Iniciar sesión</a></p>
            </div>
        </div>
        <div class="col imagen">
        </div>
    </div>
</div>