<p>login works!</p>

<div class="login">
    <div class="row h-100">
        <div class="col">
            <div class="formulario">
                <h3 class="titulo">INICIAR SESIÓN</h3>
                <p class="subtit">Todo el mundo automovilístico en un solo lugar</p>
                <form>
                    <div class="mb-3">
                        <label for="inputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="correo">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword1" placeholder="contraseña">
                        <a class="link" href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <button type="submit" class="btn btn-dark">Ingresar</button>
                </form>
                <br>
                <p class="subtit">¿No tienes cuenta?  <a clas="link" href="registro">Registrarse</a></p>
            </div>
        </div>
        <div class="col imagen">
        </div>
    </div>
</div>
