<div class="main-info-container">
    <div class="general-info-layout">
        <div class="title-layout">
            <img class="image" src="../../../../assets/Icons/seguro-de-coche.png" alt="">
            <h1 class="title">Gestión de servicios</h1>
        </div>
        <div class="button-create-layout">
            <div *ngIf="!createLayoutActivate">
                <button (click)="launchCreateFormLayout()">Crear Servicio</button>
            </div>
            <div *ngIf="createLayoutActivate">
                <button class="close-button" (click)="closeInputFormLayout()">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="data-form-layout" *ngIf="createLayoutActivate ">
            <form [formGroup]="createServiceForm" (ngSubmit)="onSubmit()">
                <div class="input-container">
                    <label>Nombre del servicio </label>
                    <input type="text" formControlName="name" placeholder="Ingrese el nombre" [ngModel]="serviceInfo.name"/>
                </div>
                <div class="input-container">
                    <label>Sucursal</label>
                    <input type="text" formControlName="sucursal" placeholder="Ingrese la sucursal"[ngModel]="serviceInfo.id_sucursal"/>
                </div>
                <div class="input-container">
                    <label>Duracion</label>
                    <input type="number" formControlName="duration" placeholder="Ingrese el valor en minutos" [ngModel]="serviceInfo.duration"/>
                </div>
                <div class="input-container"> 
                    <label>Precio</label>
                    <input type="number" formControlName="price" placeholder="Ingrese el precio" [ngModel]="serviceInfo.price"/>
                </div>
                <div class="input-container">
                    <label>Tipo de servicio</label>
                    <input type="text" formControlName="type" placeholder="Ej: Mantenimiento" [ngModel]="serviceInfo.servicioType"/>
                </div>
                <div class="input-container">
                    <label>Foto</label>
                    <input type="text" formControlName="photoUrl" placeholder="Ingrese el link de la foto"
                        [ngModel]="serviceInfo.image" />
                </div>
                <div class="button-container">
                    <button class="confirm-button">Confirmar</button>
                </div>
            </form>
        </div>
</div>

<div class="data-container">

    <div class="labels-container"> 
        <div class="column-info" *ngFor="let category of labels; let last = last" [ngClass]="{ 'last-label': last }">
            <p class="label">{{category}}</p>
        </div>
    </div>

    <div class="info-container" *ngFor="let service of serviceList; let last = last" [ngClass]="{ 'last-row': last }">
        <div class="row-container">
            <p class="parameter-info">{{service.id}}</p>
            <p class="parameter-info">{{service.id_sucursal}}</p>
            <p class="parameter-info">{{service.name}}</p>
            <p class="parameter-info">{{service.duration}}</p>
            <p class="parameter-info">${{service.price}}</p>
            <p class="parameter-info">{{service.servicioType}}</p>
            <div class="button-layout">
                <button class="edit button" (click)="selectedService(service)">Modificar</button>
                <button class="delete button" (click)="deleteService(service.id)">Eliminar</button>
            </div>
        </div>
    </div>



</div>


