<section id="services-section">
    <div class="container wrap">
        <div id="filter-container">
            <div>
                <h1 class="filter-title">Citas</h1>
                <div class="filters-layout">
                    <div class="features-container">
                        <div class="title-features">
                            <h5>Servicios seleccionados</h5>
                        </div>
                        <ng-container *ngFor="let treatment of selectedTreatmen">
                            <div class="feature">
                                <div class="label">
                                    <p>{{treatment.name}}</p>
                                </div>
                                <div class="info-feature">
                                    <p>{{treatment.price}}</p>
                                </div>
                                <div class="info-feature">
                                    <p>Eliminar</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div id="services-container">
            <h1 class="title">Servicios para tu vehiculo</h1>
            <ng-container *ngFor="let servicio of treatmentList">
                <h5 class="subtitle">{{servicio}}</h5>
                <div id="services-layout">
                    <ng-container *ngFor="let treatment of treatmentList">
                        <!--Poner logica de lista por categoria-->
                        <div class="card-container">
                            <app-service-card [service]="treatment"></app-service-card>
                            <div class="button-layout">
                                <button class="add-button" (click)="addSelectedService(treatment)">Añadir
                                    servicio</button>
                                <button class="favorite-button">
                                    <span class="material-symbols-outlined">favorite</span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </ng-container>
        </div>
    </div>
</section>