<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,-25" />
</head>

<header id="header">
  <div class="container wrap">
    <div id="icon-logo">
      <a [routerLink]="['/home']">
        <img src="../assets/Icons/IconHome.svg" />
      </a>

    </div>

    <nav id="menu-home">
      <ul>
        <li><a class="item-menu" [routerLink]="['/products/vehicles']">Autos</a></li>
        <li><a class="item-menu" [routerLink]="['/products/spareparts']">Repuestos</a></li>
        <li><a class="item-menu" [routerLink]="['/meetings']">Eventos</a></li>
        <li><a class="item-menu" [routerLink]="['/benefits']">Servicios</a></li>
        <li><a class="item-menu" [routerLink]="['/benefits']">Talleres</a></li>
        <li><a class="item-menu" [routerLink]="['/projects']">Proyectos</a></li>
      </ul>
    </nav>

    <div id="search-layout">
      <form>
        <div id="form-container">
          <input type="text" placeholder="Buscar" />
          <button>
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
      </form>
    </div>

    <div id="user-preferences">
      <div id="cart">
        <a [routerLink]="['/user/shoppingCart']" class="button">
          <span class="material-symbols-outlined icon">shopping_cart</span>
        </a>
      </div>

      <div id="favorites">
        <a [routerLink]="['/user/favorites']" class="button">
          <span class="material-symbols-outlined icon">favorite</span>
        </a>
      </div>

      <div id="settings">
        <a [routerLink]="['/management']" class="button">
          <span class="material-symbols-outlined icon">face</span>
        </a>
      </div>
      <!--  -->
      <div id="person">
        <a [routerLink]="['/profile']" class="button">
          <span class="material-symbols-outlined icon">person</span>
        </a>
      </div>


    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <img class="logo-carro" src="https://i.imgur.com/CTnQ7Sf.jpg">
  <div class="copy">&copy; 2023 Auto-Matic</div>
  <div><a style="color: white">Contacto</a></div>
  <a href="https://www.facebook.com"><img class="logo-redes2" src="https://i.imgur.com/B4USPXW.png" alt=""></a>
  <a href="https://www.instagram.com"><img class="logo-redes2" src="https://i.imgur.com/dxZeFKg.png" alt=""></a>
  <a href="https://web.whatsapp.com"><img class="logo-redes2" src="https://i.imgur.com/H8WdcYT.png" alt=""></a>
  <a href="https://www.twitter.com"><img class="logo-redes2" src="https://i.imgur.com/UANACj3.png" alt=""></a>
</footer>
